{% extends app.user ? 'site/base.html.twig' : 'base.html.twig' %}


{% block title %}
    IEF Pays de Lorient
{% endblock %}
{% block body %}
    <main>
        <div class="py-5 text-center mt-5">
            <h2>Bienvenue sur le site de partage IEF du Pays de Lorient</h2>
            <p class="lead">Vous pourrez bientôt retrouver des informations concernant l'instruction en famille</p>
            <p class="lead">En attendant: </p>
        </div>
        <div class="row">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-dismissible fade show alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {# {{dump(app.flashes)}} #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="col-6 text-center border-end border-end-2">
                <h3>Connectez-vous</h3>

                <div class="row align-items-center">
                    <div class="col mt-5">
                    <a href="{{ path('app_login')}}">Vous pouvez vous connectez ici.</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <h3>Créez un compte</h3>
                <div class="row align-items-center">
                    <div class="col mt-5">
                    <a href="{{ path('site_user_add')}}">Vous pouvez créez un compte ici.</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
